<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 当返回数据类型为map，设置callSettersOnNulls会把值为null的key也返回 -->
		<setting name="logImpl" value="LOG4J2" />
	</settings>
	<typeAliases>
		<typeAlias type="java.util.HashMap" alias="HashMap" />
		<typeAlias type="java.util.Date" alias="Date" />
		<typeAlias type="com.bjsj.budget.model.LookValue" alias="LookValue" />
	</typeAliases>
	<plugins>
		<plugin interceptor="com.bjsj.budget.interceptor.PagePlugin">
			<property name="dialect" value="mysql" />
			<property name="pageSqlId" value=".*\.query.*" />
		</plugin>
	</plugins>
</configuration>