<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsj.budget.dao.CategoryModelDao">

	<resultMap id="CMInfoMap" type="com.bjsj.budget.model.CategoryModelModel">
	</resultMap>
	<resultMap id="CMYCAInfoMap" type="com.bjsj.budget.model.CategoryModelYCAModel">
	</resultMap>
	
	<sql id="Base_Column_List">
		t.id as id,
		t.code as code,
		t.name as name,
		t.unit as unit,
		(t.transportfee + t.materialfee + t.installationfee) as price,
		t.transportfee as transportFee,
		t.materialfee as materialFee,
		t.installationfee as installationFee,
		t.parentid as parentId,
		t.leaf as leaf
	</sql>
	
    <select id="getCategoryModelList" parameterType="HashMap" resultMap="CMInfoMap">
        select
		<include refid="Base_Column_List" />
		from tm_unitproject_base t 
		where 1 = 1
		 <if test="map.leaf != null and map.leaf != ''">
			and t.leaf = #{map.leaf,jdbcType=INTEGER}   
	     </if>	
	     <if test="map.parentId != null and map.parentId != ''">
			and t.parentId = #{map.parentId,jdbcType=INTEGER}   
	     </if>	
    </select>
    
    <select id="queryDetailCategoryModel" parameterType="HashMap" resultMap="CMInfoMap">
        select
		<include refid="Base_Column_List" />
		from tm_unitproject_base t 
		where 1 = 1
		     <if test="map.parentId != null and map.parentId != ''">
				and t.parentId = #{map.parentId,jdbcType=INTEGER}   
		     </if>	
    </select>
    
    <select id="getDetailCategoryModelCount" parameterType="HashMap" resultType="Integer">
		select 
	    	count(1)
	    from tm_unitproject_base t 
		where 1 =1 
		     <if test="map.parentId != null and map.parentId != ''">
				and t.parentId = #{map.parentId,jdbcType=INTEGER}   
		     </if>	
	</select>
	
	<sql id="Base_Column_List_YCA">
		t.id as id,
		t.unitProject_Id as unitProject_Id,
		t.code as code,
		t.name as name,
		t.unit as unit,
		t.content as content,
		t.amount as amount,
		t.noPrice as noPrice,
		t.price as price,
		t.rate as rate,
		t.sumprice as sumPrice,
		t.sumnoprice as sumNoPrice,
		t.lookvalueid as lookValueId
	</sql>
	
	<select id="queryDetailYCA" parameterType="HashMap" resultMap="CMYCAInfoMap">
        select
		<include refid="Base_Column_List_YCA" />
		from tm_unitproject_detail_base t 
		where 1 = 1
		     <if test="map.unitProject_Id != null and map.unitProject_Id != ''">
				and t.unitproject_id = #{map.unitProject_Id,jdbcType=INTEGER}   
		     </if>	
    </select>
    
    <select id="getDetailYCACount" parameterType="HashMap" resultType="Integer">
		select 
	    	count(1)
	   from tm_unitproject_detail_base t 
		where 1 = 1
		     <if test="map.unitProject_Id != null and map.unitProject_Id != ''">
				and t.unitproject_id = #{map.unitProject_Id,jdbcType=INTEGER}   
		     </if>
	</select>
	
 	<select id="selectByPrimaryKey" parameterType="HashMap" resultMap="CMYCAInfoMap">
		select 
	    	<include refid="Base_Column_List_YCA" />
	    from tm_unitproject_detail_base t 
	    where t.id = #{map.id,jdbcType=INTEGER}   
	</select> 
	
	<select id="selectCMByPrimaryKey" parameterType="HashMap" resultMap="CMInfoMap">
		select 
	    	<include refid="Base_Column_List" />
	    from tm_unitproject_base t 
	    where 1 = 1 
	    <if test="map.id != null and map.id != ''">
			and t.id = #{map.id,jdbcType=INTEGER}   
		</if>
	    <if test="map.dingId != null and map.dingId != ''">
			and t.id = #{map.dingId,jdbcType=INTEGER}   
		</if>	
	</select>
	
	<insert id="insertCM" parameterType="com.bjsj.budget.model.CategoryModelModel">
		insert into tm_unitproject_base
			(id, code, name, unit, parentid, leaf, transportfee, materialfee, installationfee)
		values (#{id,jdbcType=INTEGER},
			#{code,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{unit,jdbcType=VARCHAR},
			#{parentId,jdbcType=INTEGER},
			1,0,0,0
			)
	 </insert>
	
	
     <insert id="insertCMYCA" parameterType="com.bjsj.budget.model.CategoryModelYCAModel">
		insert into tm_unitproject_detail_base
			(id, unitProject_Id, code, name, unit, content, amount, noprice, price, rate, sumprice, sumnoprice, lookvalueid)
		values (#{id,jdbcType=INTEGER},
			#{unitProject_Id,jdbcType=INTEGER},
			#{code,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{unit,jdbcType=VARCHAR},
			#{content,jdbcType=INTEGER},
			#{amount,jdbcType=DOUBLE},
			#{noPrice,jdbcType=DOUBLE},
			#{price,jdbcType=DOUBLE},
			#{rate,jdbcType=DOUBLE},
			#{sumPrice,jdbcType=DOUBLE},
			#{sumNoPrice,jdbcType=DOUBLE},
			#{lookValueId,jdbcType=INTEGER}
			)
	</insert>
	
	 <insert id="insertCMYCASpecial" parameterType="com.bjsj.budget.model.CategoryModelYCAModel">
		insert into tm_unitproject_detail_base
			(id, unitProject_Id, code, name, unit, content, amount, noprice, price, rate, sumprice, sumnoprice, lookvalueid)
		values (#{id,jdbcType=INTEGER},
			#{unitProject_Id,jdbcType=INTEGER},
			CONCAT(#{code,jdbcType=VARCHAR}, '@', nextval(#{code,jdbcType=VARCHAR})),
			#{name,jdbcType=VARCHAR},
			#{unit,jdbcType=VARCHAR},
			#{content,jdbcType=INTEGER},
			#{amount,jdbcType=DOUBLE},
			#{noPrice,jdbcType=DOUBLE},
			#{price,jdbcType=DOUBLE},
			#{rate,jdbcType=DOUBLE},
			#{sumPrice,jdbcType=DOUBLE},
			#{sumNoPrice,jdbcType=DOUBLE},
			#{lookValueId,jdbcType=INTEGER}
			)
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.bjsj.budget.model.CategoryModelYCAModel">
		update
		tm_unitproject_detail_base
		set content = #{content,jdbcType=INTEGER},
		amount = #{amount,jdbcType=DOUBLE},
		noPrice = #{noPrice,jdbcType=DOUBLE},
		price = #{price,jdbcType=DOUBLE},
		rate = #{rate,jdbcType=DOUBLE},
		sumPrice = #{sumPrice,jdbcType=DOUBLE},
		sumNoPrice = #{sumNoPrice,jdbcType=DOUBLE}
		where id = #{id,jdbcType=INTEGER}
	</update> 
	
	<update id="updateCMByPrimaryKey" parameterType="com.bjsj.budget.model.CategoryModelModel">
		update
		tm_unitproject_base
		set 
		transportFee = #{transportFee,jdbcType=DOUBLE},
		materialFee = #{materialFee,jdbcType=DOUBLE},
		installationFee = #{installationFee,jdbcType=DOUBLE}
		where id = #{id,jdbcType=INTEGER}
	</update> 
	
	
	<select id="getDetailYCA" parameterType="Integer" resultMap="CMYCAInfoMap">
        select
		<include refid="Base_Column_List_YCA" />,
		lt.looktype_id lookTypeId,
		lt.looktype_name lookTypeName
		from tm_unitproject_detail_base t 
		inner join tm_lookvalue lv on t.lookvalueid = lv.lookvalue_id
		inner join tm_looktype lt on lv.looktype_id = lt.looktype_id
		where t.unitproject_id = #{unitProjectId,jdbcType=INTEGER}
		and locate('@', t.code) = 0  
		order by t.unitproject_id 
    </select>
</mapper>