<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsj.budget.dao.FeeTotalDao">

	<resultMap id="FeeTotalInfoMap" type="com.bjsj.budget.model.FeeTotalModel">
	</resultMap>
	<resultMap id="FeeTemplateMap" type="com.bjsj.budget.model.FeeTemplateModel">
	</resultMap>
	<resultMap id="YCATotalInfoMap" type="com.bjsj.budget.model.YCATotalModel">
	</resultMap>
	
	<sql id="Base_Column_List">
		t.id, t.seq, t.feeCode, t.name, t.calculatedRadix, t.radixRemark,
		t.rate, t.amount, t.remark,t.templetId
	</sql>
	
    <select id="queryFeeTotalInfo" parameterType="HashMap" resultMap="FeeTotalInfoMap">
   	 	select 
	   		<include refid="Base_Column_List" /> 
	   	from tm_fee_total t where 1 =1 
	   	<if test="map.templetId != null">
	    	and t.templetId = #{map.templetId,jdbcType=INTEGER} 
	    </if>	
	    <if test="map.templetId == null">
	    	and t.templetId = (select id from tm_fee_total_template where flag='00')
	    </if>	
	    	
    </select>
    <select id="getFeeTotalInfoCount" parameterType="HashMap" resultType="Integer">
		select 
	   		count(1) 
	   	from tm_fee_total t where 1 =1 
	    <if test="map.templetId != null">
	    	and t.templetId = #{map.templetId,jdbcType=INTEGER} 
	    </if>	
	     <if test="map.templetId == null">
	    	and t.templetId = (select id from tm_fee_total_template where flag='00')
	    </if>	
	</select>
	
	<sql id="Base_Column_List_Tem">
		t.id, t.name
	</sql>
	<select id="queryFeeTemplate" parameterType="HashMap" resultMap="FeeTemplateMap">
   	 	select 
	   		<include refid="Base_Column_List_Tem" /> 
	   	from tm_fee_total_template t where 1 =1 
	    <if test="map.id != null">
	    	and t.id = #{map.id,jdbcType=INTEGER} 
	    </if>	
    </select>
    <select id="getFeeTemplateCount" parameterType="HashMap" resultType="Integer">
		select 
	   		count(1) 
	   	from tm_fee_total_template t where 1 =1 
	    <if test="map.id != null">
	    	and t.id = #{map.id,jdbcType=INTEGER} 
	    </if>		
	</select>
	
	<update id="updateByPrimaryKey" parameterType="com.bjsj.budget.model.FeeTotalModel">
		update
		tm_fee_total
		<trim prefix="set" suffixOverrides=",">
			 <if test="calculatedRadix != null" >
		    	 calculatedRadix = #{calculatedRadix,jdbcType=VARCHAR},
		    </if>
		    <if test="radixRemark != null" >
		    	radixRemark = #{radixRemark,jdbcType=VARCHAR},
		    </if>
		    <if test="seq != null" >
		    	seq = #{seq,jdbcType=VARCHAR},
		    </if>
		    <if test="feeCode != null" >
		    	feeCode = #{feeCode,jdbcType=VARCHAR},
		    </if>
		    <if test="name != null" >
		    	name = #{name,jdbcType=VARCHAR},
		    </if>
		    <if test="rate != null" >
		    	rate = #{rate,jdbcType=DOUBLE},
		    </if>
		    <if test="remark != null" >
		    	remark = #{remark,jdbcType=VARCHAR},
		    </if>
		    <if test="amount != null" >
		    	amount = #{amount,jdbcType=DOUBLE},
		    </if>
		</trim>
		where id = #{id,jdbcType=INTEGER}
	</update> 
	
	<insert id="insertByBatch" parameterType="java.util.List">
        insert into tm_fee_total (id, seq, feeCode, name, calculatedRadix, radixRemark,  rate, amount, remark, templetId)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.seq,jdbcType=VARCHAR}, #{item.feeCode,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}
            ,#{item.calculatedRadix,jdbcType=VARCHAR}, #{item.radixRemark,jdbcType=VARCHAR}, #{item.rate,jdbcType=DOUBLE}, 
            #{item.amount,jdbcType=DOUBLE}, #{item.remark,jdbcType=DOUBLE}, #{item.templetId,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
    
    <insert id="insertTemplate" parameterType="com.bjsj.budget.model.FeeTotalModel">
		 insert into tm_fee_total (id, seq, feeCode, name, calculatedRadix, radixRemark,  rate, amount, remark, templetId)
        values
            (#{id,jdbcType=INTEGER}, #{seq,jdbcType=VARCHAR}, #{feeCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
            ,#{calculatedRadix,jdbcType=VARCHAR}, #{radixRemark,jdbcType=VARCHAR}, #{rate,jdbcType=DOUBLE}, 
            #{amount,jdbcType=DOUBLE}, #{remark,jdbcType=DOUBLE}, #{templetId,jdbcType=INTEGER}
            )
	</insert>
	
	  <insert id="insertTemplateTable" parameterType="com.bjsj.budget.model.FeeTemplateModel">
		 insert into tm_fee_total_template (id, name, flag)
        values
            (#{id,jdbcType=INTEGER},  #{name,jdbcType=VARCHAR}, '01')
	</insert>
	
	<select id="selectByPrimaryKey" parameterType="HashMap" resultMap="FeeTemplateMap">
		select 
	    	t.id, t.name
	    from tm_fee_total_template t 
	    where 1 = 1 
	    <if test="map.name != null and map.name != ''">
			and t.name = #{map.name,jdbcType=VARCHAR}   
		</if>	
	</select>
	
	<select id="selectByPrimaryKeyYCA" parameterType="HashMap" resultMap="YCATotalInfoMap">
		select t.code, t.name, sum(t.tax_Single_SumPrice) as tax_Single_SumPrice
	    from tm_unitproject_detail t 
	    where 1 = 1 
	    <if test="map.code != null and map.code != ''">
			and t.code = #{map.code,jdbcType=VARCHAR}   
		</if>
		<if test="map.bitProjectId != null and map.bitProjectId != ''">
			and t.unitproject_id in (select id from tm_unitproject where bit_project_id = #{map.bitProjectId,jdbcType=INTEGER})    
		</if>
		
		group by t.code, t.name
	</select>
    
</mapper>