<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjsj.budget.dao.UnitProjectDetailDao">
	<resultMap id="BaseResultMap" type="com.bjsj.budget.model.UnitProjectDetail">
	</resultMap>
	<sql id="Base_Column_List">
		t.id as id,
		t.unitproject_id as unitprojectId,
		t.code as code,
		t.type as type,
		t.name as name, 
		t.type_info as typeInfo,
		t.unit as unit, 
		t.content as content,
		t.amount as amount,
		t.single_sumprice as singleSumPrice,
		t.tax_single_sumprice as taxSingleSumPrice,
		t.tax_price as taxPrice,
		t.notax_price as noTaxPrice, 
		t.orig_count as origCount, 
		t.lookvalueid as lookValueId,
		t.seq as seq,
		t.is_supple_cost as isSuppleCost
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tm_unitproject_detail t
		where t.id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tm_unitproject_detail
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.bjsj.budget.model.UnitProjectDetail">
		insert into tm_unitproject_detail (unitproject_id, code,
		type, name, type_info,
		unit, content, amount, single_sumprice, tax_single_sumprice,
		tax_price, notax_price, orig_count, lookvalueid,
		seq, is_supple_cost)
		values (#{unitprojectId,jdbcType=INTEGER},
		#{code,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{typeInfo,jdbcType=VARCHAR},
		#{unit,jdbcType=VARCHAR}, #{content,jdbcType=DOUBLE}, #{amount,jdbcType=DOUBLE},
		#{singleSumPrice,jdbcType=DOUBLE}, #{taxSingleSumPrice,jdbcType=DOUBLE},
		#{taxPrice,jdbcType=DOUBLE}, #{noTaxPrice,jdbcType=DOUBLE},
		#{origCount,jdbcType=DOUBLE}, #{lookValueId,jdbcType=INTEGER}, #{seq,jdbcType=INTEGER},
		#{isSuppleCost,jdbcType=INTEGER}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.bjsj.budget.model.UnitProjectDetail">
		update tm_unitproject_detail
		set unitproject_id = #{unitprojectId,jdbcType=INTEGER},
		code = #{code,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		type_info = #{typeInfo,jdbcType=VARCHAR},
		unit = #{unit,jdbcType=VARCHAR},
		content = #{content,jdbcType=DOUBLE},
		amount = #{amount,jdbcType=DOUBLE},
		single_sumprice = #{singleSumPrice,jdbcType=DOUBLE},
		tax_single_sumprice = #{taxSingleSumPrice,jdbcType=DOUBLE},
		tax_price = #{taxPrice,jdbcType=DOUBLE},
		notax_price = #{noTaxPrice,jdbcType=DOUBLE},
		orig_count = #{origCount,jdbcType=DOUBLE},
		lookvalueid = #{lookValueId,jdbcType=INTEGER},
		seq = #{seq,jdbcType=DOUBLE},
		is_supple_cost = #{isSuppleCost,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="getBitProjectDetailInfo" parameterType="HashMap" resultType="com.bjsj.budget.model.UnitProjectDetail">
		select
			<include refid="Base_Column_List"/>
		from tm_unitproject_detail t 
		where 1 = 1
		<if test="unitProjectId != null">
			and t.unitproject_id = #{unitProjectId,jdbcType=INTEGER}  
		</if>
		<if test="unitProjectDetailId != null">
			and t.id = #{unitProjectDetailId,jdbcType=INTEGER}  
		</if>
		
		order by t.seq
	</select>
	
	<delete id="deleteByUnitProjectId" parameterType="HashMap">
		delete from tm_unitproject_detail 
		where unitproject_id = #{unitProjectId,jdbcType=INTEGER}  
	</delete>
	
</mapper>