<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsj.budget.dao.YCADao">

	<resultMap id="YCAInfoMap" type="com.bjsj.budget.model.YCAModel">
	</resultMap>
	<resultMap id="BaseResultMap" type="com.bjsj.budget.model.LookValue">
		<id column="lookvalue_id" jdbcType="INTEGER" property="lookvalueId" />
		<result column="lookvalue_code" jdbcType="VARCHAR" property="lookvalueCode" />
		<result column="lookvalue_name" jdbcType="VARCHAR" property="lookvalueName" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="seq" jdbcType="DOUBLE" property="seq" />
		<result column="enable_flag" jdbcType="INTEGER" property="enableFlag" />
	</resultMap>
	<sql id="Base_Column_List">
		t.id as ID,
		t.lookvalue_id as lookvalue_id,
		t.code as code,
		t.name as name,
		t.unit as unit
	</sql>
	
    <select id="queryYCAInfo" parameterType="HashMap" resultMap="YCAInfoMap">
        select
		<include refid="Base_Column_List" />
		from tm_yca_detail t 
		inner join tm_lookvalue lv on lv.lookvalue_id = t.lookvalue_id
		where t.lookvalue_id = #{map.lookValueId,jdbcType=INTEGER}
    </select>
    <select id="getYCAInfoCount" parameterType="HashMap" resultType="Integer">
		select 
	    	count(1)
	    from tm_yca_detail t 
		inner join tm_lookvalue lv on lv.lookvalue_id = t.lookvalue_id 
		where t.lookvalue_id = #{map.lookValueId,jdbcType=INTEGER}
	</select>
    <insert id="insertYCA" parameterType="com.bjsj.budget.model.YCAModel">
		insert into tm_yca_detail
			(id, lookvalue_id, code, name, unit)
		values (#{id,jdbcType=INTEGER},
			#{lookvalue_id,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{unit,jdbcType=INTEGER}
			)
	</insert>
	<select id="getYCACount" parameterType="com.bjsj.budget.model.YCAModel" resultType="Integer">
		select 
	    	count(1)
	    from tm_yca_detail t
	    where t.code = #{code,jdbcType=VARCHAR}
	</select>
	<update id="updateByPrimaryKey" parameterType="com.bjsj.budget.model.YCAModel">
		update
		tm_yca_detail
		set name = #{name,jdbcType=VARCHAR},
		unit = #{unit,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<sql id="Base_Column_ListLook">
		t.lookvalue_id, t.lookvalue_code, t.lookvalue_name, t.remark, t.seq,
		t.enable_flag, t.looktype_id
	</sql>
    <select id="getLookValueList" parameterType="HashMap" resultMap="BaseResultMap">
	    select 
	    	<include refid="Base_Column_ListLook" />
	    from tm_lookvalue t
	    where 1 = 1  
	     <if test="map.lookTypeId != null and map.lookTypeId != ''">
			and t.looktype_id = #{map.lookTypeId,jdbcType=INTEGER}   
	    </if>	
	   	<if test="map.lookvalue_id != null and map.lookvalue_id != ''">
			and t.lookvalue_id = #{map.lookvalue_id,jdbcType=INTEGER}    
	    </if>
	</select>
	<select id="getLookTypeList" parameterType="Map" resultType="HashMap">
	    select 
	    	tt.looktype_id,
	    	tt.looktype_code,
	    	tt.looktype_name
	    from tm_looktype tt
	    where tt.enable_flag = 1
	    order by looktype_id 
	</select>
</mapper>